<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AisiTrample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
				<key>dateExpires</key>
				<string>2020/9/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KSPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PGDatePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PGPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Qiniu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1B06824274CFD74DC5FA469253D9F12D27D6F1F</string>
						<key>dateExpires</key>
						<string>2020/9/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD_0_8_1.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SMA328KK58</string>
						<key>name</key>
						<string>XiangChen Mu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SMA328KK58.yinyue.AisiTrample</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SMA328KK58</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>SMA328KK58.yinyue.AisiTrample</string>
				</array>
			</dict>
			<key>name</key>
			<string>AisiTrample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>13c3bed3-1a68-4b14-bb00-01fa8a60bc85</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SMA328KK58</string>
				<key>name</key>
				<string>XiangChen Mu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
